@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color:darkslategray;
}
#logo a {
    font-family: 'Montserrat Alternates', sans-serif;
    color:darkslategray;
    text-decoration: none;
    float: left;
    font-size: 180%;
}

#menu li {
    list-style: none;
    display: inline;
    float: right;
    margin: 20px;
    padding: 0 auto;
}
#menu a {
    text-decoration: none;
    color: darkslategray;
}
#menu a:hover {
    text-decoration: underline;
}
#menu a:active {
    text-decoration: underline;
}

