@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@200&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color:darkslategray;
}
h1 a {
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    color:darkslategray
}
ul li {
    list-style: none;
    display: inline;
    float: right;
    margin: 20px;
    padding: 0 auto;
}
ul a {
    text-decoration: none;
}
ul a:hover {
    text-decoration: underline;
}
ul a:active {
    text-decoration: underline;
}

